<% content_for :lnks2 do %>
  | <%= link_to 'К списку', :teams %>
  | <%= link_to 'Добавить', :new_team %>
  | <%= link_to 'Изменить', edit_team_path(@team) %>
  | <%= link_to 'Удалить', @team, method: :delete, data: { confirm: 'Удаляем ?' } %>
  | <%= link_to '0', :contacts, title: 'Просмотр' %>
  |
<% end %>
<%= h1andcontent "#{@team.name}" %>

<br/>
<table>
  <tr>
    <td>
      <%= image_tag @team.foto.url if @team.foto.exists? %>
    </td>
    <td style='width:255px'>
      <b><%= @team.name %></b> 
      <br/> 
      <br/> 
      <%= @team.remark %>
    </td>
  </tr>
</table>