<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New volunteer</h1>

    <table>
      <tr>
        <td>
          Дата: 
        </td>
        <td>
          <%= @mail.created_at.strftime("%d.%m.%y %H:%M:%S")  %>
        </td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td>
          Имя: 
        </td>
        <td>
          <%= @mail.name %>
        </td>
      </tr>
      <tr>
        <td>
          Возраст:
        </td>
        <td>
          <%= @mail.age %>
       </td>
     </tr>
     <tr>
      <td>
        Телефон:
      </td>
        <td>
          <%= @mail.phone %>
       </td>
     </tr>
     <tr>
        <td>
          Почта:
        </td>
        <td>
          <%= @mail.email %>
        </td>
      </tr>
      <tr>
        <td>
          Текст:
        </td>
        <td width='444px'>
          <%= @mail.text %>
        </td>
      </tr>
    </table>

  </body>
</html>